<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	
	<!-- 加载Controller -->
	<context:component-scan base-package="com.dxsoft.bzhouse.controller" />
	
	<!-- 支持Json自动转换 -->
	<mvc:annotation-driven />
	
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp" />
	
	
	
	<!-- 登陆账户权限验证拦截器 
	<mvc:interceptors>
		<bean class="com.dxsoft.house.util.UserAuthorityInterceptor"></bean>
	</mvc:interceptors>
	-->
</beans>